#box1 {
	width: 500px;
	height: 200px;
	background-color: gray;
}

#position_fixed_parent {
    width: 500px;
    height: 500px;
    background-color: yellow;
}

#position_fixed_child {
    position: fixed;

    width: 200px;
    height: 200px;
    background-color: blue;

    /*margin-top: 100px;*/
    /*top: 100px;*/
}

#box2 {
	width: 500px;
	height: 2000px;
	background-color: pink;
}