#box1 {
	width: 500px;
	height: 200px;
	background-color: gray;
}

#position_relative_parent {
    width: 500px;
   height: 500px;
    background-color: yellow;
}

#position_relative_child {
    position: relative;

    width: 200px;
    height: 200px;
    background-color: blue;

    margin-top: 100px;
    /*top: 100px;*/
}