/********************
*** Intro ***
********************/
#intro .introWrap .lion {
    -webkit-animation: spinLion 1500ms linear infinite alternate;
    -moz-animation: spinLion 1500ms linear infinite alternate;
    animation: spinLion 1500ms linear infinite alternate;
}

@-webkit-keyframes spinLion {
    from { -webkit-transform: rotate(-10deg); }
    to { -webkit-transform: rotate(10deg); }
}

@-moz-keyframes spinLion {
    from { -moz-transform: rotate(-10deg); }
    to { -moz-transform: rotate(10deg); }
}

@keyframes spinLion {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

#intro .introWrap .rabbit {
    -webkit-animation: spinRabbit 1000ms linear infinite alternate;
    -moz-animation: spinRabbit 1000ms linear infinite alternate;
    animation: spinRabbit 1000ms linear infinite alternate;
}

@-webkit-keyframes spinRabbit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(5deg); }
}

@-moz-keyframes spinRabbit {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(5deg); }
}

@keyframes spinRabbit {
    from { transform:rotate(0deg); }
    to { transform:rotate(5deg); }
}

#intro .introWrap .bear {
    -webkit-animation: spinBear 1000ms linear infinite alternate;
    -moz-animation: spinBear 1000ms linear infinite alternate;
    animation: spinBear 1000ms linear infinite alternate;
}

@-webkit-keyframes spinBear {
    from { -webkit-transform: rotate(10deg); }
    to { -webkit-transform: rotate(-10deg); }
}

@-moz-keyframes spinBear {
    from { -moz-transform: rotate(10deg); }
    to { -moz-transform: rotate(-10deg); }
}

@keyframes spinBear {
    from { transform:rotate(10deg); }
    to { transform:rotate(-10deg); }
}

#intro .introWrap .monkey {
    -webkit-animation: spinMonkey 800ms linear infinite alternate;
    -moz-animation: spinMonkey 800ms linear infinite alternate;
    animation: spinMonkey 800ms linear infinite alternate;
}

@-webkit-keyframes spinMonkey {
    from { -webkit-transform: rotate(20deg); }
    to { -webkit-transform: rotate(50deg); }
}

@-moz-keyframes spinMonkey {
    from { -moz-transform: rotate(20deg); }
    to { -moz-transform: rotate(50deg); }
}

@keyframes spinMonkey {
    from { transform:rotate(20deg); }
    to { transform:rotate(50deg); }
}

#intro .cloudWrap .dragonfly {
    -webkit-animation: flyDragonfly linear 7s infinite normal;
    -moz-animation: flyDragonfly linear 7s infinite normal;
    animation: flyDragonfly linear 7s infinite normal;
}

@-webkit-keyframes flyDragonfly {
    from { left: -366px; }
    to { left: 110%; }
}

@-moz-keyframes flyDragonfly {
    from { left: -366px; }
    to { left: 110%; }
}

@keyframes flyDragonfly {
    from { left: -366px; }
    to { left: 110%; }
}

/********************
*** Farm3 ***
********************/
#farm3 .machineWrap .timer {
    -webkit-animation: rotateTimer 10000ms linear infinite;
    -moz-animation: rotateTimer 10000ms linear infinite;
    animation: rotateTimer 10000ms linear infinite;
}

@-webkit-keyframes rotateTimer {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotateTimer {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes rotateTimer {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#farm3 .machineWrap .saw1 {
    -webkit-animation: rotateLeftSaw 10000ms linear infinite;
    -moz-animation: rotateLeftSaw 10000ms linear infinite;
    animation: rotateLeftSaw 10000ms linear infinite;
}

@-webkit-keyframes rotateLeftSaw {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotateLeftSaw {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes rotateLeftSaw {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#farm3 .machineWrap .saw2 {
    -webkit-animation: rotateRightSaw 10000ms linear infinite;
    -moz-animation: rotateRightSaw 10000ms linear infinite;
    animation: rotateRightSaw 10000ms linear infinite;
}

@-webkit-keyframes rotateRightSaw {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes rotateRightSaw {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}

@keyframes rotateRightSaw {
    from { transform:rotate(360deg); }
    to { transform:rotate(0deg); }
}

/********************
*** Forest1 ***
********************/
#forest1 .treeWrap .rabbit1 {
    -webkit-animation: spinRabbitOne 1000ms linear infinite alternate;
    -moz-animation: spinRabbitOne 1000ms linear infinite alternate;
    animation: spinRabbitOne 1000ms linear infinite alternate;
}

@-webkit-keyframes spinRabbitOne {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(10deg); }
}

@-moz-keyframes spinRabbitOne {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(10deg); }
}

@keyframes spinRabbitOne {
    from { transform:rotate(0deg); }
    to { transform:rotate(10deg); }
}

#forest1 .treeWrap .rabbit2 {
    -webkit-animation: spinRabbitTwo 1000ms linear infinite alternate;
    -moz-animation: spinRabbitTwo 1000ms linear infinite alternate;
    animation: spinRabbitTwo 1000ms linear infinite alternate;
}

@-webkit-keyframes spinRabbitTwo {
    from { -webkit-transform: rotate(10deg); }
    to { -webkit-transform: rotate(00deg); }
}

@-moz-keyframes spinRabbitTwo {
    from { -moz-transform: rotate(10deg); }
    to { -moz-transform: rotate(0deg); }
}

@keyframes spinRabbitTwo {
    from { transform:rotate(10deg); }
    to { transform:rotate(0deg); }
}

/********************
*** Forest2 ***
********************/
#forest2 .machineWrap2 .machineLeft {
    -webkit-animation: moveLeft 1s linear infinite alternate;
    -moz-animation: moveLeft 1s linear infinite alternate;
    animation: moveLeft 1s linear infinite alternate;
}

@-webkit-keyframes moveLeft {
    from   { left:30px; }
    to { left:0; }
}

@-moz-keyframes moveLeft {
    from   { left:30px; }
    to { left:0; }
}

@keyframes moveLeft {
    from   { left:30px; }
    to { left:0; }
}

#forest2 .machineWrap2 .machineRight {
    -webkit-animation: moveRight 1s linear infinite alternate;
    -moz-animation: moveRight 1s linear infinite alternate;
    animation: moveRight 1s linear infinite alternate;
}

@-webkit-keyframes moveRight {
    from   { left:-30px; }
    to { left:0; }
}

@-moz-keyframes moveRight {
    from   { left:-30px; }
    to { left:0; }
}

@keyframes moveRight {
    from   { left:-30px; }
    to { left:0; }
}

/********************
*** Forest3 ***
********************/
#forest3 .forest3Wrap .smallBird {
    -webkit-animation: spinSmallbird 1000ms linear infinite alternate;
    -moz-animation: spinSmallbird 1000ms linear infinite alternate;
    animation: spinSmallbird 1000ms linear infinite alternate;
}

@keyframes spinSmallbird {
    from { transform:rotate(0deg); }
    to { transform:rotate(10deg); }
}

#forest3 .forest3Wrap .bigBird {
    -webkit-animation: spinBigbird 1000ms linear infinite alternate;
    -moz-animation: spinBigbird 1000ms linear infinite alternate;
    animation: spinBigbird 1000ms linear infinite alternate;
}

@-webkit-keyframes spinBigbird {
    from { -webkit-transform: rotate(-10deg); }
    to { -webkit-transform: rotate(10deg); }
}

@-moz-keyframes spinBigbird {
    from { -moz-transform: rotate(-10deg); }
    to { -moz-transform: rotate(10deg); }
}

@keyframes spinBigbird {
    from { transform:rotate(-10deg); }
    to { transform:rotate(10deg); }
}

/********************
*** Science ***
********************/
#science .scienceWrap .gly {
    -webkit-animation: spinGly 1500ms linear infinite alternate;
    -moz-animation: spinGly 1500ms linear infinite alternate;
    animation: spinGly 1500ms linear infinite alternate;
}

@-webkit-keyframes spinGly {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(50deg); }
}

@-moz-keyframes spinGly {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(50deg); }
}

@keyframes spinGly {
    from { transform:rotate(0deg); }
    to { transform:rotate(50deg); }
}

#science .scienceWrap .water {
    -webkit-animation: spinWater 1500ms linear infinite alternate;
    -moz-animation: spinWater 1500ms linear infinite alternate;
    animation: spinWater 1500ms linear infinite alternate;
}

@-webkit-keyframes spinWater {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-50deg); }
}

@-moz-keyframes spinWater {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-50deg); }
}

@keyframes spinWater {
    from { transform:rotate(0deg); }
    to { transform:rotate(-50deg); }
}

/********************
*** Night1 ***
********************/
#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
    -webkit-animation: pulseStar 1s linear infinite alternate;
    -moz-animation: pulseStar 1s linear infinite alternate;
    animation: pulseStar 1s linear infinite alternate;
}

@-webkit-keyframes pulseStar {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(0.8); }
}

@-moz-keyframes pulseStar {
    from { -moz-transform: scale(1); }
    to { -moz-transform: scale(0.8); }
}

@keyframes pulseStar {
    from { transform: scale(1); }
    to { transform: scale(0.8); }
}

/********************
*** Night2 ***
********************/
#night2 .moon {
    -webkit-animation: moveMoon linear 10s infinite;
    -moz-animation: moveMoon linear 10s infinite;
    animation: moveMoon linear 10s infinite;
}

@-webkit-keyframes moveMoon {
    from { margin-left: -135px; }
    to { margin-left: 110%; }
}

@-moz-keyframes moveMoon {
    from { margin-left: -135px; }
    to { margin-left: 110%; }
}

@keyframes moveMoon {
    from { margin-left: -135px; }
    to { margin-left: 110%; }
}

/********************
*** Morning ***
********************/
#morning .sun {
    -webkit-animation: moveSun linear 10s 1500ms infinite;
    -moz-animation: moveSun linear 10s 1500ms infinite;
    animation: moveSun linear 10s 1500ms infinite;
}

@-webkit-keyframes moveSun {
    from { margin-left: -131px; }
    to { margin-left: 110%; }
}

@-moz-keyframes moveSun {
    from { margin-left: -131px; }
    to { margin-left: 110%; }
}

@keyframes moveSun {
    from { margin-left: -131px; }
    to { margin-left: 110%; }
}

/********************
*** kitchen ***
********************/
#kitchen .steamWrap .bubble1 {
    animation-name: bubble1;
    animation-duration: 2000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
}
@keyframes bubble1 {
    0% {transform:translate(0px, 0px)}
    50% {transform:translate(-87.5px, -150px)}
    100% {transform:translate(-100px, -300px)}
}